
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}


header {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  float: left;
}

header nav {
  float: right;
}

header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

header::after {
  content: "";
  display: table;
  clear: both;
}


main {
    text-align:center;
  padding: 380px 0;
  background: #f4f4f4;
}


footer {
  background: #74e770;
  
  color: #e46868;
  text-align: center;
  padding: 20px 0;
}
